/*Containers*/
.video-left, .video-right {
    display: inline-block;
}

.video-controls {
    text-align: left; 
    background: rgba(0, 0, 0, .5);
    height: 2.75em;
    font-size: 1rem;
    line-height: 1em;
    color: #f0f0f0;
    position: absolute;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 125ms;
    width: 100%;
}
.video:hover .video-controls {
    opacity: 1;
}

#memepreview .video-controls{
    opacity: 1;
    position: inherit;
}

.video *::selection, #memepreview *::selection {
    display: none;
}

.video video {
    position: relative;
}

.videoplayer:fullscreen video{
    width:100%;
    height:100%;
}
.videoplayer:-webkit-full-screen video{
    width:100%;
    height:100%;
}
.videoplayer:-moz-full-screen video{
    width:100%;
    height:100%;
}
.videoplayer:-ms-fullscreen video{
    width:100%;
    height:100%;
}


/*Time slider*/
.time-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    background: #f0f0f0;
    outline: none;
    opacity: 0.5;
    display: block;
    height: 0.3em;
    transition: opacity,padding-top,margin-top 125ms;
    cursor: pointer;
} 
.time-slider:hover {
    opacity: 0.8;
    padding-top: 0.2em;
    margin-top:-0.2em;
}

.time-slider::-moz-range-thumb{
	visibility: hidden;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .time-slider[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
    }
    
    .time-slider[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      color:  #f9ca24;
	  margin-top: -1px;
	}
	  
	.time-slider[type='range']::-webkit-slider-thumb {
		width: 0; /* Set a specific slider handle width */
		height: 100%; /* Slider handle height */
		box-shadow: -30em 0 0 30em  #f9ca24;
		-webkit-appearance: none; /* Override default look */
		appearance: none;
	}
}

/*Firefox*/
.time-slider[type="range"]::-moz-range-progress {
	opacity: 1;
	background-color: #f9ca24;
}

/*IE*/
.time-slider[type="range"]::-ms-fill-lower {
	opacity: 1;
	background-color: #f9ca24;
}

/*Play/pause button*/
.play-pause-button {
	width: 2em;
    margin-left: 0.5em !important;
}

/*volume slider*/
.volume-slider {
    width:  calc(100% - 14.5em);
    max-width: 6em;
    margin-bottom: 0.5em;
	vertical-align: middle;
	height: 0.3em;
	-webkit-appearance: none;
    background: #f0f0f0;
    transition: height,margin-top 125ms;
    cursor: pointer;
}
.volume-slider:hover{
    height:0.5em;
    margin-top: -0.1em;
}

.volume-slider::-moz-range-thumb{
	visibility: hidden;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .volume-slider[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
    }
    
    .volume-slider[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      color:  #f9ca24;
	  margin-top: -1px;
	}
	  
	.volume-slider[type='range']::-webkit-slider-thumb {
		width: 0; /* Set a specific slider handle width */
		height: 100%; /* Slider handle height */
		box-shadow: -30em 0 0 30em  #f9ca24;
		-webkit-appearance: none; /* Override default look */
		appearance: none;
	}
}

/*Firefox*/
.volume-slider[type="range"]::-moz-range-progress {
	opacity: 1;
	background-color: #f9ca24;
}

/*IE*/
.volume-slider[type="range"]::-ms-fill-lower {
	opacity: 1;
	background-color: #f9ca24;
}

/*Mute button*/
.mute-button {
    font-size: 1.1em;
}

button:focus {
    outline: none;
}

/*Current time text*/
.time-by-duration {
	font-family: Arial, sans-serif;
	font-size: 0.75em;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0.5em;
}

.video-controls .youtube-button{
    float:right;
    position: relative;
    font-size: 0.75em;
    text-align: center;
    width:2em;
    height:1.5em;
    background: #444;
    margin-top: 0.75em;
    color: #fff;
    border-radius: 20%;
    text-decoration: none!important;
}
.video-controls .youtube-button:hover{
    background: #f00;
}
.video-controls .youtube-button:hover::after{
    font-size: 1.1em;
    content: "View in YouTube";
	position: absolute;
    bottom: 1.5em;
    left:-5.5em;
    right:-2.5em;
	opacity: 0;
	padding: 0.5em;
	transition: opacity 125ms;
	border-radius: 0.5em;
	background: #000;
	border: #111;
	pointer-events: none;
	z-index: 101;
}
.video-controls .youtube-button:hover::after{
    opacity: 0.75;
}

.fullscreen-button{
    float: right;
    font-size:1.2em!important;
    line-height: 0;
}

/*Player buttons*/
.video button, #memepreview button {
    border: none;
    padding: 0.5em;
    font-size: 1em;
    height: 2em;
    background: none;
    margin-left: 0%;
    cursor: pointer;
    color: inherit;
}