.panel {
  margin: 1rem;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  background: rgba(255,255,255,0.1);
}
.panel>*:first-child{
  margin: 0;
}
.panel>.close-button{
  position: absolute;
  top: 0.7em;
  right: 1em;
  font-size: 1.5em;
  text-decoration: none;
}
.panel-toolbelt>.panel-content{
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  flex-wrap: wrap;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
  width: 12em;
  flex-grow: 1;
}
.dropdown i[class^="icon-"], .dropdown i[class*=" icon-"]{
  top: 0.075em;
}
.dropbtn {
  padding: 0.5em 1em;
  text-align: left;
  width: 100%;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropbtn sub {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  visibility: hidden;
  min-width: 100%;
  background: #2B333E;
  box-shadow: rgba(0,0,0,0.4) 0 0 0.5em;
  z-index: 99;
  max-height: 30em;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
}
.dropdown-content>.scroll {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5em 0;
}
.dropdown-content>.dropdown-content-toolbar {
  display: flex;
  flex-direction: row;
}
.dropdown-content>.dropdown-content-toolbar>.btn{
  text-align: center;
  width: 0;
  flex-grow: 1;
}
.dropdown>.dropdown-content>.scroll>.btn:not(.noselect)::before {
  font-family: 'yiaycons';
  font-size: 1.1em;
  margin-right: 0.5em;
  content: "\ea56";
}
.dropdown>.dropdown-content>.scroll>.btn:not(.noselect).selected::before {
  content: "\ea54";
}
.dropdown.dropdown-multi>.dropdown-content>.scroll>.btn:not(.noselect)::before {
  content: "\ea53";
}
.dropdown.dropdown-multi>.dropdown-content>.scroll>.btn:not(.noselect).selected::before {
  content: "\ea52";
}
.dropdown-content>.dropdown-content-toolbar>.btn>i{
  margin: 0;
}
.dropdown-content>.dropdown-content-toolbar>.btn>sub{
  display: inline-block;
  width: calc(100% + 1rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 -0.5rem;
}
.dropdown-content .btn, .dropdown-content input {
  padding: 1em;
  text-align: left;
}
.dropdown-content .btn.selected {
  background: rgba(255,255,255,0.05);
}
.dropdown-content .btn.selected:hover {
  background: rgba(255,255,255,0.25);
}
.dropdown-content .btn.hidden {
  display: none;
}
.dropdown-content .btn.searched {
  background: rgba(252, 255, 84, 0.05);
}

.video-control {
  position: relative;
}
.video-control .paused {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  padding: 1rem;
  color: inherit;
  z-index: 1;
  text-shadow: #fff 0 0 0.5em;
}
.dark .video-control .paused {
  text-shadow: #000 0 0 0.5em;
}
.video-control video {
  transition: filter 1s;
}
.video-control .paused + video {
  filter: brightness(70%);
}