#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,footer{
  background: #535c68;
  box-shadow: rgba(0,0,0,0.4) 0 0 0.5em;
  z-index: 100;
}

nav{
  height: 3em;
  display: flex;
  flex-direction: row;
}
nav .btn, nav input{
  height: 1em;
  min-width: 2em;
  text-align: center;
  padding: 1em 0.75em;
  box-sizing: content-box;
  line-height: 1em;
}
nav .navspacer {
  background: none !important;
  box-shadow: none !important;
  flex-grow: 10;
  cursor: auto;
}
nav>.navbutton-title-search{
  display: flex;
  max-width: 100%;
}
nav>.navbutton-title-search.searchfocus{
  width: 40em;
}
nav>.navbutton-title-search>a{
  padding-left: 0em;
}
nav>.navbutton-title-search.searchfocus>a{
  flex-grow: 0;
}
nav>.navbutton-title-search>form{
  flex-grow: 2;
}
nav img{
  height: 3em;
  width: auto;
  margin: -1em 0;
}
nav h1{
  margin:0;
  padding:0;
  display:inline-block;
  line-height: 0;
}
nav form{
  display: flex;
}
nav form>input[type=text]{
  text-align: left;
  flex-grow: 1;
}
nav i[class^="icon-"], nav i[class*=" icon-"] {
  text-shadow: #000 0 0 2px;
}

@media screen and (max-width: 60em){
  nav{
    height: 6em;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
  }
  footer>nav{
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  nav>.navbutton-title-search{
    width: 100%!important;
  }
  nav>.navbutton-title-search.searchfocus>a:first-child{
    display: none;
  }
  nav>.usernav{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  footer>nav>a:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  nav .navspacer{
    display: none;
  }
}

.browse {
  min-height: 35rem;
  flex-grow: 1;
  margin-bottom: 0.5rem;
}
.browse > h2, .browse > p {
  margin-left: 1rem;
  margin-right: 1rem;
}
.browse > h2 {
  margin-bottom: 0;
}

.item-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  margin: 0 0.5rem;
  gap: 0.5em;
}
.item-grid > .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15em;
  height: 3em;
  border-radius: 1.5em;
  background: #535c68;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-item:link:hover {
  background: #727c88;
}
.item-grid > .meme {
  width: 20em;
  height: 20em;
  flex-grow: 1;
}

.meme {
  display: flex;
  position: relative;
  color: #111;
  background: black;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.meme.dark {
  color: #eee;
}

.meme .content {
  width: 100%;
  height: 16.2em;
  align-self: flex-start;
  object-fit: contain;
}
.meme.nsfw .content {
  filter: blur(1rem);
  transition: filter 400ms;
}
.meme.nsfw::after {
  content: "WARNING: This meme contains innapropriate content.";
  position: absolute;
  width: 20ch;
  text-align: center;
  top: 14.2em;
  left: 50%;
  transform: translate(-50%, -75%);
  pointer-events: none;
  opacity: 1;
  transition: opacity 400ms;
}
.meme.nsfw:hover::after {
  opacity: 0;
}
.meme.nsfw:hover .content {
  filter: blur(0rem);
}

@media screen and (min-width: 100em) {
  .item-grid > .meme {
    width: 30em;
    height: 30em;
  }
  .meme .content {
    height: 26.2em;
  }
}

.meme:has(.gif)::after {
  content: "GIF";
  display: block;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  padding: 0.1em 0.25em;
  background: black;
  color: #eee;
  border-radius: 0.25em;
  font-size: 1.5em;
  pointer-events: none;
}
.meme > .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.75em 1em;
  display: block;
  color: inherit;
  background-color: inherit;
}
.meme > .info > span {
  display: block;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meme > .info > .bio {
  font-weight: bold;
  font-size: 1.25em;
}
.meme > .info > .biotype {
  opacity: 0.5;
  font-size: 0.75em;
}
.meme > .dooter {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0.25em;
  left: 0.25em;
  color: #111;
}
.meme > .dooter > * {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  font-size: 0.6rem;
  width: 2em;
  height: 2em;
  border: 0.1em solid rgba(0,0,0,0.4);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0.25em 0.25em 0 0;
  padding: 0;
}