header,footer{
  background: #535c68;
  box-shadow: rgba(0,0,0,0.4) 0 0 0.5em;
  z-index: 100;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav{
  height: 3em;
  display: flex;
  flex-direction: row;
}
nav .btn, nav input{
  height: 1em;
  min-width: 2em;
  text-align: center;
  padding: 1em 0.75em;
  box-sizing: content-box;
  line-height: 1em;
}
nav .navbutton-spacer {
  background: none !important;
  box-shadow: none !important;
  flex-grow: 10;
  cursor: auto;
}
nav>.navbutton-title-search{
  display: flex;
  max-width: 100%;
}
nav>.navbutton-title-search.searchfocus{
  width: 40em;
}
nav>.navbutton-title-search>a{
  padding-left: 0em;
}
nav>.navbutton-title-search.searchfocus>a{
  flex-grow: 0;
}
nav>.navbutton-title-search>form{
  flex-grow: 2;
}
nav img{
  height: 3em;
  width: auto;
  margin: -1em 0;
}
nav h1{
  margin:0;
  padding:0;
  display:inline-block;
  line-height: 0;
}
nav form{
  display: flex;
}
nav form>input[type=text]{
  text-align: left;
  flex-grow: 1;
}
nav i.fas {
  text-shadow: #000 0 0 2px;
}

@media screen and (max-width: 60em){
  nav{
    height: 6em;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
  }
  footer>nav{
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  nav>.navbutton-title-search{
    width: 100%!important;
  }
  nav>.navbutton-title-search.searchfocus>a:first-child{
    display: none;
  }
  nav>.navbutton-usernav{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  footer>nav>a:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  nav .navbutton-spacer{
    display: none;
  }
}