/* BASIC THEME */
html{
	background: #131c28;
  color:#eee;
}
.btn{
  display: inline-block;
  background: rgba(255,255,255,0);
  box-shadow: rgba(0,0,0,0) 0 0 0.5em;
  transition: background 0.25s, box-shadow 0.25s;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
.btn:hover{
  background: rgba(255,255,255,0.25);
  box-shadow: rgba(0,0,0,0.25) 0 0 0.5em;
}