.panel {
  margin: 1rem;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  background: rgba(255,255,255,0.1);
}
.panel>*:first-child{
  margin: 0;
}
.panel>.close-button{
  position: absolute;
  top: 0.7em;
  right: 1em;
  font-size: 1.5em;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
}
.dropbtn {
  padding: 0.5em 1em;
  text-align: left;
  min-width: 12em;
  z-index: 100;
}
.dropdown-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  visibility: hidden;
  min-width: 12em;
  background: #2B333E;
  box-shadow: rgba(0,0,0,0.4) 0 0 0.5em;
  z-index: 99;
  padding: 0.5em 0;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
}
.dropdown-content .btn {
  padding: 1em;
  text-align: left;
}
