html,body {
  min-height: 100vh;
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  font-size: 14px;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  overflow-x: hidden;
  min-height: 100vh;
}

/* Accessibility */
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* Code presentation */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Colours */
.accent, .yellow {
  color: #f9ca24!important;
}
.accent-bg, .yellow-bg {
  background-color: #f9ca24!important;
}
.red {
  color: #F7630C!important;
}
.red-bg {
  background-color: #F7630C!important;
}
.blue {
  color: #31D2F7!important;
}
.blue-bg {
  background-color: #31D2F7!important;
}
.pink {
  color: #F495BF!important;
}
.pink-bg {
  background-color: #F495BF!important;
}
.brown {
  color: #725B08!important;
}
.brown-bg {
  background-color: #725B08!important;
}
.blurple {
  color: #7289DA!important;
}
.blurple-bg {
  background-color: #7289DA!important;
}
.dim {
  opacity: 0.5;
}

/* Links styling */
a[href] {
  color: #f9ca24;
}
a, a:link, a:visited {
  color: #f0f0f0;
  text-decoration: none;
}

/* Forms styling */
input{
  border: none;
  font-size: 1em;
  background-color: rgba(255,255,255,0.6);
  font-family: inherit;
  transition: background-color 0.25s;
}
input:hover{
  background-color: rgba(255,255,255,0.8);
}
input[type=submit]{
  cursor: pointer;
}
button, .nobutton {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}
.nobutton {
  /*input has OS specific font-family*/
  color: #f0f0f0;
}

/* Yiaycons fixes */
[class^="icon-"], [class*=" icon-"] {
  font-size: 1.25em;
}

/* General helpful classes */
.scroll {
  overflow: auto;
}